/** CSS STYLE **/
:root {
  --header-height: 70px;
  --feedback-block-color: #0ae897;
  --form-border-color: lightgray;
  --footer-background-color: #2c3e50; 
  --info-feedback-background-color: whitesmoke;
}

body {
  margin: 0 auto;
  padding: 0;
}

body, a, select, input {
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

.width-1000{
  width: 1000px;
}

.header-main {
  padding: 5px 20px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  width: 100%;
  height: var(--header-height);
  font-weight: bold;
}

.header-main-link {
  font-weight: bold;
  color: black;
  margin: 0 10px; 
}

.menu-link:hover {
  text-decoration: underline;
}

.logo-header {
  width: 50px;
  margin-right: 10px;
}

.padding-top-h-h {
  padding-top: var(--header-height);
}

.advertising-section {
  background: url(../images/banner.png) no-repeat 40% 65%;
  background-size: 100%;
  color: white;
  padding: 40px 0;
  margin: 0px;
  font-size: 24px;
}

.width-100 {
  width: 100px;
}

h1 {
  margin: 5px 0 0 0;
  font-size: 48px;
}

.margin-0 {
  margin: 0;
}

.button {
  border-radius: 10px;
  background-color: transparent;
  padding: 10px;  
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
  font-size: 20px;
}

.white-button {
  border: 1px white solid;
  color: white;
}

.white-button:hover {
  border: 1px rgb(255,255,255, 0.6) solid;
  background-color:rgb(255,255,255, 0.6);
  color: black;
}

.width-250 {
  width: 250px;
}

.bg-gray {
  background-color: var(--info-feedback-background-color);
}

.container {
  padding: 50px 0;
  margin: 0 auto;
}

.width-450 {
  width: 450px;
}

.moon {
  width: 350px;
  height: 200px;
}

.feedback-block-form {
  width: 400px;
}

.feedback-form-title {
  color: var(--feedback-block-color);
  font-size: 18px;
  font-weight: bold;
}

.feedback-flat-form {
  border: 3px var(--feedback-block-color) solid;
  margin-bottom: 20px;
  padding: 20px 10px;
}

.feedback-contact-info {
  border: 3px var(--feedback-block-color) solid;
}

.green-button {
  border: 1px var(--feedback-block-color) solid;   
  color: var(--feedback-block-color);
}

.green-button:hover {
  color: white;
  background-color: var(--feedback-block-color);
}

.feedback-flat-form select {
  border-radius: 10px;
  width: 140px;
  height: 30px;
  border: 1px solid var(--form-border-color);
  padding-left: 7px;
}

.feedback-qty-rooms {
  margin: 10px 70px 5px 10px;
}

.feedback-repairs {
  margin: 10px 70px 10px 10px;
}

.feedback-contact-info input {
  border-radius: 10px;
  width: 200px;
  height: 25px;
  border: 1px solid var(--form-border-color);
}

.feedback-contact-info-name {
  padding: 10px 40px 10px 10px;
}

.feedback-contact-info-tel {
  padding: 0 40px 10px 10px;
}

.feedback-contact-info-email {
  padding: 0 40px 10px 10px;
}

.bg-dark {
  background-color: var(--footer-background-color);
}

.footer-content {
  padding: 30px 0;
  color: white ;
  margin: auto;
}

.display-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.align-items-baseline {
  align-items: baseline;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-space-around {
  justify-content: space-around;
}

.justify-content-center {
  justify-content: center;
}

.flex-direction-column {
  flex-direction: column;
}