/** CSS STYLE **/
body {
  width: 1100px;
  margin: 0 auto;
  padding: 0;
}

body, a, select, input {
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}

.header-position-fix {
  position: fixed;
  background-color: white;
  width: inherit;
}

.header-main {
  height: 70px;
  padding: 0 10px;
}

.logo-title, .menu {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.menu-link {
  font-weight: bold;
  color: black;
  margin: 0 10px; 
}

.menu-link:hover {
  color: #2c3e50; 
  text-decoration: underline;
}

.logo-header {
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

.advertising-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(../images/banner.png) no-repeat 40% 65%;
  color: white;
  padding: 140px 0;
  margin: 0px;
}

.logo-advertising-block {
  height: 100px;
  width: 100px;
}

.advertising-block-h2 {
  margin-bottom: 0px;
}

.btn-advertising-block {
  border-radius: 10px;
  background-color: transparent;
  border: 1px white solid;
  padding: 10px;  
  cursor: pointer;
}

.btn-advertising-block:hover {
  border: 1px #2c3e50 solid;
  background-color:rgb(0, 0, 0, 0.6);
  color: black;
}

.btn-advertising-block a {
  color: white;
  font-weight: bold;
}

.features-section {
  padding: 50px 0;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.features-section div {
  width: 250px;

}

.info-section, .places-to-rest-section {
  padding: 50px 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.info-section {
  background-color: whitesmoke;
}

.about-info, .rest-info {
  width: 455px;
}

.moon {
  width: 350px;
  height: 200px;
}

.feedback-block {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}

.feedback-block-form {
  width: 400px;
}

.feedback-form-title {
  color: #0ae897;
  font-size: 16px;
  font-weight: bold;
}

.feedback-flat-form {
  border: 3px #0ae897 solid;
  margin-bottom: 20px;
  padding: 20px 10px;
}

.feedback-contact-info {
  border: 3px #0ae897 solid;
}

.form-button {
  border-radius: 10px;
  border: 1px #0ae897 solid;
  text-align: center;
  padding: 10px 15px;   
  color: #0ae897;
  font-weight: bold;
  margin-top: 10px;
  cursor: pointer;
}

.form-button:hover {
  color: white;
  background-color: #0ae897;
}

.about-flatForm select {
  border-radius: 10px;
  width: 140px;
  height: 25px;
}

.feedback-qty-rooms {
  margin: 10px 70px 5px 10px;
}

.feedback-repairs {
  margin: 10px 70px 10px 10px;
}

.feedback-contact-info input {
  border-radius: 10px;
  width: 200px;
  height: 25px;
  border: 1px solid lightgray;
}

.feedback-contact-info-name {
  padding: 10px 40px 10px 10px;
}

.feedback-contact-info-tel {
  padding: 0 40px 10px 10px;
}

.feedback-contact-info-email {
  padding: 0 40px 10px 10px;
}

footer {
  background-color: #2c3e50;
  padding: 30px 0;
  color: white ;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo-company {
  display: flex;
}

.text-align-justify {
  text-align: justify;
}

.flex-space-between-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}